@import "tailwindcss";

h1 {
  color: #c8a36a;
}
@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-right {
  animation: scroll-right 20s linear infinite;
}

.animate-scroll-left {
  animation: scroll-left 20s linear infinite;
}
